.link-list .settings-list {
    padding: 6px 0;
}

.link-list__item {
    padding: 10px 16px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

.link-list__item:nth-child(even) {
    background-color: #334750;
}

.link-list__item a {
    color: #fff;
    text-decoration: none;
}

.link-list__item-close {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    cursor: pointer;
}

.link-list__item-close:before,
.link-list__item-close:after {
    content: "";
    width: 10px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 3px;
    background-color: #617F8B;
    transition: background 300ms;
}

.link-list__item-close:before {
    transform: rotate(45deg);
}

.link-list__item-close:after {
    transform: rotate(-45deg);
}

.link-list__item-close:hover:before,
.link-list__item-close:hover:after {
    background-color: #fff;
}